@import url("https://fonts.googleapis.com/css?family=Gaegu:700|Space+Mono:400,700|&display=swap");

// Variables
$app-yellow: #ffb600;
$app-black: #333;
$app-white: #fff;
$app-bg-blue: #4c7a82;
$font-primary: "Space Mono", monospace;
$font-secondary: "Gaegu", cursive;
