@import url("https://fonts.googleapis.com/css?family=Gaegu:700|Space+Mono:400,700|&display=swap");

// Variables
$app-yellow: #ffb600;
$app-black: #333;
$app-white: #fff;
$font-primary: "Space Mono",
monospace;
$font-secondary: "Gaegu",
cursive;

// Mixins
@mixin mobile {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin bodyFontSize {
  font-size: 16px;

  @include mobile {
    font-size: 14px;
  }
}

body {
  cursor: url("/assets/images/cursor.png"), auto;

  a {
    cursor: url("/assets/images/cursor-hover.png"), auto;
  }
}

// Styles
.test {
  background: red;
}

.App {
  text-align: center;
  font-family: $font-primary;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include bodyFontSize;
}

#main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url("/assets/images/background.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  @include bodyFontSize;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $font-primary;

  @include mobile {
    font-size: 18px;
  }
}

.bgCanvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.foreground {
  width: 100vw;
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  background-image: url("/assets/images/foreground.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

.scene {
  height: 100vh;
  display: grid;
  z-index: 1;
}

#scene-1 {
  grid-template-rows: 1fr max-content max-content 2fr;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  grid-gap: 2vh;
  align-items: start;
  grid-template-areas: '. . . .'
    '. logo logo .'
    'fox fox introduction-text .'
    'fox fox . .';
  margin-bottom: 50vh;
  margin-top: 10px;

  #profession {
    font-family: $font-secondary;
    font-size: 3.5vw;
    line-height: 0.7;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 0;
  }

  #logo {
    position: relative;
    grid-area: logo;

    path {
      fill: $app-black;

      &:hover {
        fill: $app-yellow;
      }
    }
  }

  #myIntro {
    grid-area: introduction-text;
  }

  #fox-anim {
    justify-self: start;
  }

  #fox-anim-box {
    grid-area: fox;
  }
}

#scene-2 {
  grid-template-rows: 1fr max-content max-content 2fr;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  grid-gap: 2vh;
  align-items: start;
  grid-template-areas: '. . . .'
    '. skills tools .'
    '. . ninja ninja'
    '. . . .';
  padding-bottom: 100vh;

  #skills {
    grid-area: skills;
  }

  #tools {
    grid-area: tools;
  }

  #ninja-anim-box {
    grid-area: ninja;
  }

  .ninja-initial {
    position: fixed;
    bottom: 1vw;
    right: -40vw;
  }

  .ninja-appear {
    position: fixed;
    bottom: 1vw;
    right: -40vw;
    animation: ninjaApper 1s ease-out forwards;
  }

  .ninja-hide {
    position: fixed;
    bottom: 1vw;
    right: -40vw;
    animation: ninjaHide 1s ease-out forwards;
  }
}

.skills-pinned {
  position: fixed;
  top: 0;
}

.skills-unpinned {
  position: static;
}

.navbar-items-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navbar-items {
  font-family: $font-primary;
  color: $app-white;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0.5vh 0;

  &:hover {
    .underline-path {
      animation: 0.3s draw ease-out forwards;
    }
  }
}

.underline-wrapper {
  height: 10px;
  margin: 0 auto;
  position: absolute;
  transform: translateY(-150%);
  width: 60px;
  z-index: -1;
}

.underline-path {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 3px;
  stroke: $app-yellow;
}

#skills,
#tools {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  z-index: 1;

  @include mobile {
    width: 90vw;
  }

  h2 {
    align-self: flex-start;
    text-align: left;
    line-height: 1;
    margin: 50px 0 10px 0;
  }

  div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .tools-items-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;

    @include mobile {
      flex-wrap: wrap;
    }

    .i-container {
      margin: 10px 0;

      &:not(:first-child) {
        margin-left: 30px;
      }
    }
  }

  span {
    text-align: left;
    line-height: 1;
    margin: 7px 0;
  }
}

.button-primary-container {
  position: relative;
  display: block;
  text-align: center;
  cursor: pointer;
  font-family: "Gaegu", cursive;
  width: 160px;

  .button-text {
    position: absolute;
    display: block;
    top: 15px;
    margin: 0 auto;
    font-family: $font-secondary;
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
  }

  a {
    display: flex;
    justify-content: center;
  }

  svg {
    fill: $app-yellow;
  }

  &:hover {
    .button-text {
      animation: buttonRotation 0.3s linear infinite;
    }
  }
}

#navbar-container {
  position: fixed;
  z-index: 1000;
  top: 5vh;
  right: 3vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  #linkedin {
    fill: $app-yellow;
    margin: 5vh 0;

    &:hover {
      fill: $app-black;
    }
  }
}

// Ufo

#ufo-container {
  display: inline-block;
  position: absolute;
  transform: rotate(15deg);
  bottom: 10vh;
  right: 0;

  @include mobile {
    bottom: -5vh;
    right: -10vw;
    transform: rotate(15deg) scale(0.5);
  }

  #ufo {
    display: inline-block;
    position: relative;
  }

  #elef-1 {
    position: absolute;
    left: 30%;
    top: 0;
    transform: scale(0.3);
    animation: elefFall 15s ease-out infinite forwards;
  }

  #elef-2 {
    position: absolute;
    top: 0;
    left: 15%;
    transform: scale(0.3);
    animation: elefFall 15s ease-out 5s infinite forwards;
  }

  #elef-3 {
    position: absolute;
    top: 0;
    left: 30%;
    transform: scale(0.3);
    animation: elefFall 15s ease-out 10s infinite forwards;
  }
}

// Fox

#fox {
  height: 25vw;
  width: 37vw;
  background: url("/assets/images/fox.png") no-repeat 0 0%;
  background-size: 1000%;
  animation: sprite 3.5s steps(9) infinite;
  z-index: 1;
}

// Rocket

#rocket-container {
  display: inline-block;
  position: absolute;
  top: 8vh;
  left: 2vw;

  @include mobile {
    top: 2vh;
    left: 0;
  }
}

#rocket {
  height: 18vh;
  width: 20vh;
  background: url("/assets/images/rocket.png") no-repeat 0 0%;
  background-size: 400%;
  animation: sprite 3.5s steps(3) infinite;

  @include mobile {
    height: 9vh;
    width: 10vh;
  }
}

// Stone404

#stone404-container {
  position: absolute;
  bottom: 100vh;
  animation: stoneFall 600ms linear 3s forwards 1;
}

#stone404 {
  height: 13vw;
  // animation: stoneRoll 5s linear infinite;
}

.error-code {
  font-size: 15vw;
  font-weight: 700;
  line-height: 1;
}

.error-message {
  font-size: 2.5vw;
  margin-bottom: 7vh;
}

// Bear

#bear-container {
  display: inline-block;
  position: relative;
  height: 55vh;
  width: 45vh;
  transform-origin: left;
  animation: wave 1s infinite ease-in-out alternate;

  img {
    position: absolute;
    display: block;
  }

  #bear-core {
    height: 100%;
  }

  .wheel {
    height: 29%;
  }

  .wheel-back {
    bottom: 0;
    right: 14%;
    animation: wheelRotation 10s linear 20ms infinite;
  }

  .wheel-front {
    bottom: 0;
    left: 0;
    animation: wheelRotation 10s linear infinite;
  }

  .bb-gate {
    height: 18%;
    right: 4%;
    bottom: 29%;
    transform-origin: left;
    transform: rotate(-36deg);
    animation: gate 2s ease-out infinite;
  }

  .leg-back {
    height: 30%;
    bottom: 14%;
    left: 45%;
    animation: pedal 1s linear 500ms infinite;
  }

  .leg-front {
    transform-origin: top;
    height: 46%;
    left: 41%;
    bottom: 9%;
    animation: pedal 1s linear infinite;
  }

}

// Ninja

#ninja {
  display: inline-block;
  position: relative;
  height: 50vh;
  width: 45vh;

  img {
    position: absolute;
    display: block;
  }

}

.ninja-body {
  height: 87%;
  right: 0;
  bottom: 0;
}

.ninja-arm {
  height: 50%;
  right: 32%;
  top: 0;
  transform-origin: 85% 80%;
  animation: forge 1s cubic-bezier(1, .01, .99, .84) infinite;
}

.ninja-anvil {
  bottom: 0;
  height: 36%;
  right: 50%;
}

.ninja-laptop {
  height: 20%;
  bottom: 31%;
  transform-origin: bottom;
  animation: laptop 1s cubic-bezier(1, .01, .99, .84) infinite;
}

// ap-m-demo-container

.ap-m-demo-container,
.ap-d-demo-container {
  position: relative;
  display: flex;
  width: 100%;

  div {
    display: flex;
    flex-direction: column;
  }
}

// Rope

#rope-container {
  height: 30vh;
  width: 25vh;
  position: relative;
  z-index: 10;
  justify-content: center;
}

.rope {
  height: 30vh;
  width: 25vh;
  position: absolute;
  left: 15%;
  bottom: -4.5vh;
}

// Tag

.tag-container {
  position: relative;
  align-items: center;
  font-family: "Gaegu", cursive;
  width: 17vh;
  transform: rotate(-10deg);

  .tag-text {
    position: absolute;
    display: block;
    top: 0.5vh;
    margin: 0 auto;
    font-family: $font-secondary;
    text-transform: uppercase;
    color: $app-white;
    font-size: 22px;
    margin-top: -4vh;
  }

  svg {
    fill: $app-black;
  }

  #arrow-fat-container {
    height: 10vh;
    width: 10vh;
    transform: rotate(63deg);
  }
}

.hint-container {
  position: absolute;
  width: 26vh;
  left: 35%;
  top: 20%;

  svg {
    fill: $app-black;
  }

  span {
    position: absolute;
    width: 20vh;
    left: 3vh;
    top: 2.5vh;
    line-height: 1.2;
    font-size: 12px;
  }
}

// Pda

.device-container-right {
  margin-left: 5vh;
}

#pda-container {
  display: inline-block;
  position: relative;
  height: 60vh;
  width: 35.5vh;
  z-index: 5;

  img {
    position: absolute;
    display: block;
  }
}

.pda {
  height: 100%;
}

.ap-before {
  width: 26.3vh;
  overflow: auto;
}

.screen-canvas {
  overflow: scroll;
}

.ap-before-canvas {
  width: 25.5vh;
  height: 40vh;
  left: 13.5%;
  top: 7%;
  border-radius: 0.5vh 0.5vh 2vh 2vh;
  position: absolute;
  overflow-x: hidden;

  &::after {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .8);
    content: '';
    display: block;
    height: 40vh;
    position: sticky;
    top: 0;
    width: 25.5vh;
  }
}

// Iphone

#iphone-container {
  display: inline-block;
  position: relative;
  height: 60vh;
  width: 30.5vh;
  z-index: 5;

  img {
    position: absolute;
    display: block;
  }
}

.iphone {
  height: 100%;
}

.ap-after {
  width: 25.5vh;
  overflow: auto;
}

.ap-after-canvas {
  width: 25.5vh;
  height: 55.7vh;
  left: 8.5%;
  top: 3.7%;
  border-radius: 2.5vh;
  position: absolute;
  overflow-x: hidden;
}

// Old Desktop

.device-container-right {
  margin-left: 5vh;
}

#old-desktop-container {
  display: inline-block;
  position: relative;
  height: 80vh;
  width: 77.5vh;
  z-index: 5;

  img {
    position: absolute;
    display: block;
  }
}

.old-desktop {
  height: 100%;
}

.ap-before-d {
  width: 63.5vh;
  overflow: auto;
}

.screen-canvas-d {
  overflow: scroll;
}

.ap-before-d-canvas {
  width: 63.5vh;
  height: 48vh;
  left: 9%;
  top: 9%;
  position: absolute;
  overflow-x: hidden;

  &::after {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, .6);
    content: '';
    display: block;
    height: 48vh;
    position: sticky;
    top: 0;
    width: 63.5vh;
  }
}

// Apple Desktop

#apple-desktop-container {
  display: inline-block;
  position: relative;
  height: 60vh;
  width: 81vh;
  z-index: 5;

  img {
    position: absolute;
    display: block;
  }
}

.ap-d-demo-container {
  .device-container-right {
    width: 100%;
  }
}

.apple-desktop {
  height: 100%;
}

.ap-after-d {
  width: 78.5vh;
  overflow: auto;
}

.ap-after-d-canvas {
  width: 78.5vh;
  height: 44.2vh;
  left: 1.4%;
  top: 1.7%;
  position: absolute;
  overflow-x: hidden;
}

// Animated Classes

.hidden {
  visibility: hidden;
}

.intro-anim {
  animation: introAnim 1s ease-out;

  #fox-anim-box {
    animation: yAxis 800ms ease-out forwards;
  }

  .fox-pinned {
    position: fixed;
    bottom: 10vh;

    #fox-anim {
      animation: xAxis 800ms ease-in forwards;
    }
  }

  .fox-unpinned {
    position: fixed;
    bottom: 10vh;

    #fox-anim {

      animation: foxUnpin 1s ease-in forwards;
      transform: scale(2);
    }
  }
}

@keyframes introAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Animations

@keyframes buttonRotation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
  }

  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
  }
}

@keyframes elefFall {
  0% {
    top: 0;
    transform: rotate(90deg) scale(0.25);
  }

  15% {
    transform: rotate(-10deg) scale(0.5);
  }

  30% {
    top: 100%;
    transform: rotate(-15deg) scale(0.7);
  }

  100% {
    top: 100%;
    transform: rotate(-15deg) scale(0.7);
  }
}

@keyframes sprite {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}

@keyframes stoneFall {
  0% {
    bottom: 100vh;
  }

  72%,
  78% {
    bottom: 3vw;
  }

  85% {
    bottom: 3.2vw;
  }

  100% {
    bottom: 3vw;
  }
}

@keyframes wheelRotation {
  0% {
    transform: rotate(3600deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes pedal {
  0% {
    transform: rotate(360deg) translateX(3px) rotate(-360deg) scaleY(1);
  }

  100% {
    transform: rotate(0deg) translateX(3px) rotate(0deg) scaleY(1);
  }
}

@keyframes wave {
  0% {
    transform: translateY(-2%) rotate(2deg);
  }

  100% {
    transform: translateY(2%) rotate(0deg);
  }
}

@keyframes gate {
  0% {
    transform: rotate(-36deg);
  }

  70% {
    transform: rotate(-40deg);
  }

  100% {
    transform: rotate(-36deg);
  }
}

@keyframes forge {
  0% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes laptop {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(1);
  }

  65% {
    transform: scaleY(0.2);
  }

  53% {
    transform: scaleY(0.2);
  }

  80% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes xAxis {
  0% {
    animation-timing-function: ease-in;
    transform: translateX(-20vw);
  }

  100% {
    animation-timing-function: ease-in;
    transform: translateX(0);
  }
}

@keyframes yAxis {
  0% {
    animation-timing-function: ease-out;
    transform: translateY(-20vw);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

@keyframes foxUnpin {
  0% {
    transform: translateX(0) scale(1);
  }

  100% {
    transform: translateX(100vw) scale(0);
  }
}

@keyframes ninjaApper {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-60vw);
  }
}

@keyframes ninjaHide {
  0% {
    transform: translateX(-60vw);
  }

  100% {
    transform: translateX(0);
  }
}